::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body{
  overflow-x: hidden;
}

.navbarItem{
  font-size: 20px;

}

.logo{
  margin-left: -22rem;
  height: 7em;
  padding: 1.5em;

}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.about-semi-divs{
  width: 200px;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}